<div class="modal fade" id="rejectModal_<%= asset_request.id %>" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rejectModalLabel">Reject Asset Request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <%= form_with(url: reject_asset_request_path(asset_request), method: :post, id: "rejectForm_#{asset_request.id}") do |f| %>
        <div class="modal-body">
          <div class="input-group input-group-dynamic mb-4">
            <%= f.text_area :rejection_reason, class: 'form-control', 
                placeholder: 'Please provide a reason for rejection', rows: 4, required: true %>
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
          <%= f.submit 'Reject Request', class: 'btn bg-gradient-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>