<div class="modal fade" id="checkOutModal<%= assignment.id %>" tabindex="-1" role="dialog" aria-labelledby="checkOutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkOutModalLabel">Check Out Asset</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <i class="material-icons-round">close</i>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to check out <%= assignment.asset&.name&.titleize %>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= button_to check_out_asset_assignment_path(assignment), 
            method: :patch,
            class: "btn btn-primary" do %>
          Check Out
        <% end %>
      </div>
    </div>
  </div>
</div> 