<p>Hello <%= @resource.email %>!</p>

<p>Your account was locked by an administrator. It has now been unlocked.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
